src/__pycache__
src/dataset/
src/font/
src/runs/
src/sources/
doc/cronograma/*aux
doc/cronograma/*log
doc/cronograma/*pdf
doc/cap1/*aux
doc/cap1/*log
doc/cap1/*pdf
doc/cap1/*bcf
doc/cap1/*idx
doc/cap1/*lof
doc/cap1/*lot
doc/cap1/*nlo
doc/cap1/*.run.xml
doc/cap1/*.toc
doc/cap1/*.todo
doc/cap1/*.out
